/* custom css */
.site-header{
  left: 0px;
  right: 0px;
  height: 80px;
  padding: 1rem 0.5rem;
  color: white;
  border-bottom: 2px solid #efefef;
  margin-bottom: 1rem;
}

.float-right {
  float: right;
}
